<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8" />
    <title>계산기</title>
</head>
<body>
    {% with messages = get_flashed_messages()%}
      {% if messages%}
        {% for msg in messages %}
          <p>{{msg}}</p>
        {% endfor %}
      {% endif %}
    {% endwith%}
    <div><h1>계산기</h1></div>
    <form action="#" method="post">
      <p>첫번째 인자(arg1) : <input type="text" name="arg1"/></p>
      <div>
        연산자 선택(op) :
        <input type="radio" id="plus" name="op" value="plus" checked>
        <label for="plus"> + </label>

        <input type="radio" id="minus" name="op" value="minus">
        <label for="minus"> － </label>

        <input type="radio" id="multiply" name="op" value="multiply">
        <label for="multiply"> × </label>

        <input type="radio" id="division" name="op" value="division">
        <label for="division"> ÷ </label>
      </div>
      <p>두번째 인자(arg2) : <input type="text" name="arg2"/></p>

      <p><input type="submit" value="submit"/></p>
    </form>
  </body>
</html>
